<!doctype html>
<html>
<head>
    <%- include('partials/head') %>
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <%- include('partials/header') %>
    </header>
    <main>
        <!-- Content Here -->
    </main>
    <%- include('partials/footer') %>
</body>
<script src="js/backstretch.min.js" defer></script>
<script src="js/backstretch_postnow.js" defer></script>
</html>