<footer class="mt-auto">
    <div>
        <p class="text-center text-muted">&copy;SIUUUUU</p>
    </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <script>
        function sendMessage(extensionId, request) {
            return new Promise((resolve, reject) => {
                chrome.runtime.sendMessage(extensionId, request, (response) => {
                    try {
                        if (response.version) resolve(response);
                        else reject(response);
                    }
                    catch (err) {
                        console.log("?");
                        if (!location.href.endsWith('/extension_required')) location.assign('/extension_required');
                    }
                });
            });
        }
    
        setTimeout(() => {
            const check = document.getElementById('bigBrotherExtensionCheck');
            if (check != undefined) {
                const extensionId = check.value;
                sendMessage(extensionId, {type : "VERSION"}).catch((err) => {
                    console.log("?");
                    if (!location.href.endsWith('/extension_required')) location.assign('/extension_required');
                }).then(response => {
                    var hasExtension = (response.version == "1.0");
                    if (!hasExtension) {
                        if (!location.href.endsWith('/extension_required')) location.assign('/extension_required');
                    }
                    else {
                        console.log("Has extension!");
                    }
                });
            }
            else {
                if (!location.href.endsWith('/extension_required')) location.assign('/extension_required');
            }
        }, 5000);
        
    </script>