<!doctype html>
<html>
<head>
    <%- include('partials/head') %>
</head>
<body class="d-flex flex-column min-vh-100">
    <main>
        <!-- Content Here -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="error-template">
                        <h1>
                            Oops!</h1>
                        <h2>
                            Extension not installed or obsolete!</h2>
                        <div class="error-details">
                            You have to install or update our browser extension in order to use the social network!
                            Get it here:
                            <form method="GET" action="/download">
                                <button type="submit" class="btn btn-primary">Download</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('partials/footer', {user : null}) %>
</body>
</html>