
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <header>
        <%- include('partials/header') %>
    </header>

    <main>
    <div class="container">
      <div class="starter-template">
        <h1>Facebook Statistic Builder</h1>
        <img id="headshot" src="https://static.nationalgeographic.co.uk/files/styles/image_3200/public/MAIN_mask_only.jpg?w=1600&h=900" alt="Mountain View">
        <p class="lead">U R DOOMED: <a href="https://codingshiksha.com/javascript/node-js-passport-facebook-authentication-using-express-and-mongodb-full-project/">XEM NGAY</a></p>
      </div>

    </div><!-- /.container -->
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
