
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>

  <body>
    <header>
        <%- include('partials/header') %>
    </header>

    <main>
    <div class="container">
      <div class="starter-template">
        <h1>Facebook Statistic Builder</h1>
        <img id="headshot" src="https://static.nationalgeographic.co.uk/files/styles/image_3200/public/MAIN_mask_only.jpg?w=1600&h=900" alt="Mountain View">
        <p class="lead">U R DOOMED: <a href="https://codingshiksha.com/javascript/node-js-passport-facebook-authentication-using-express-and-mongodb-full-project/">XEM NGAY</a></p>
      </div>

    </div><!-- /.container -->
    </main>

    <footer>
        <%- include('partials/footer') %>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
