
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>

  <body>
    <header>
        <%- include('partials/header') %>
    </header>

    <main>
    <div class="container">
      <div class="starter-template">
        <h1>Facebook Statistic Builder</h1>
        <img id="headshot" src="https://images.chesscomfiles.com/uploads/v1/images_users/tiny_mce/davidkaufmann/phpor7McW.jpeg" alt="Mountain View" width="500" height="250">
        <p class="lead">CLIP 16P: <a href="https://codingshiksha.com/javascript/node-js-passport-facebook-authentication-using-express-and-mongodb-full-project/">XEM NGAY</a></p>
      </div>

    </div><!-- /.container -->
    </main>

    <footer>
        <%- include('partials/footer') %>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
