<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Bigbrothers Social Network Login</title>
    <%- include('partials/head') %>
    <style>
        body { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span>Bigbrothers Login</h1>

        <p>Login or Register with:</p>

        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
    </div>

</div>
<footer>
    <%- include('partials/footer') %>
</footer>
</body>
</html>