
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <header>
        <%- include('partials/header') %>
    </header>
    <main>
       <!-- Load icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- The form -->
        <form class="example" action="action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit">Post</button>
        </form>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
