<html>
    <title>Facebook Login</title>
    <body>
        <div class="login-with-fb">
            <a href="#" id="call_facebook_login">Continue with Facebook</a>
        </div>
        <div id="fb-root"></div>
        <script>
            window.fbAsyncInit = function ()
            {
                FB.init
                        ({
                            appId: 'XXXX',
                            status: true,
                            cookie: true,
                            xfbml: true
                        });
            };

            (function () {
                var e = document.createElement('script');
                e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
                e.async = true;
                document.getElementById('fb-root').appendChild(e);
            }());

            /** Fb Login **/
            $(document).on("click", "#call_facebook_login", function () {
                Login();
            });

            function Login() {
                FB.login(function (response) {
                    if (response.authResponse) {
                        getUserInfo();
                    } else {
                        console.log('User cancelled login or did not fully authorize.');
                    }
                }, {scope: 'public_profile ,email'});
            }
            function getUserInfo() {
                FB.api('/me', {fields: "id,picture,email,first_name,gender,last_name,name"}, function (response) {
                    console.log(response);
                    var pic = response.picture;
                    var first_name = response.first_name;
                    var last_name = response.last_name;
                    var gender = response.gender;
                    var fb_id = response.id;
                    var email = response.email;
                    var profile_pic = pic.data.url;
                    var url = "URL of your REST API";
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: {
                            first_name: first_name, last_name: last_name, gender: gender, fb_id: fb_id, email: email, profile_pic: profile_pic
                        },
                        dataType: "json",
                        success: function (data) {

                        }
                    });
                });
            }
            /** End of FB Login **/
        </script>
    </body>
</html