<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Bigbrothers Social Network Login</title>
    <%- include('partials/head') %>
    <style>
        body { padding-top:80px; }
        h1 { text-align: center;}
        h3 {text-align: center;}
       </style>
</head>
<body>
<main>
    
    <h1><img src="assets/cover.png" width="500" height = "200" alt=""></h1>
    <div class="login-box">
        <h2 style="color: #50a3a2; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Login or register with</h2>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">            
        <h1><a href="/auth/facebook" class="fa fa-facebook">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        <!-- Add font awesome icons -->
            
          </a></h1>
        
        
        
      </div>

      
</main>
</body>
</html>
